/* CSS for Recipes Overview Page */
.recipe-filter {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0 .7em;
}

/* Hide the native checkbox */
.recipe-filter .big-checkbox input[type="checkbox"] {
    display: none;
}

/* Whole box styling */
.recipe-filter .big-checkbox .box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #ebebeb;
    transition: background-color 0.3s;
}

.recipe-filter .big-checkbox .checkmark {
    width: 1rem;
}

.recipe-filter .big-checkbox .checkmark::before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f00d";
    color: #bcbcbc;
}

.recipe-filter .big-checkbox input[type="checkbox"]:checked + .box {
    background-color: #000;
    color: white;
}
.recipe-filter .big-checkbox input[type="checkbox"]:checked + .box .checkmark::before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f00c";
    color: #fff;
}

#response {
    min-height: 80vh;
}

a.recipe-card-wrap {
    opacity: 0;
    display: block;
    padding: .7em;
}

.recipe-card {
    padding: .7em;
    box-shadow: 3px 3px 15px -4px #D3D3D3;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform:rotate(2deg)scale(1.02);
}

.recipe-card h3 {
    margin: .3em;
    text-align: center;
}

.recipe-card .category {
    font-size: 0.9rem;
    font-weight: 300;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: .1rem .5rem;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

#pagination .recipes-page-btn {
    border: 0;
    background: #ebebeb;
    color: #000;
    padding: 0.5rem 0.8rem;
}

#pagination .recipes-page-btn.active {
    background: #000;
    color: #fff;
}

#pagination .ellipsis {
    padding: 0.5rem 0.8rem;
}

@media(max-width: 767px) {
    .recipe-filter {
        flex-direction: column;
    }
}