/* -----------------------------------------
	04. Modules
----------------------------------------- */

/* Content Area
=================================== */
#site-content {
	margin-bottom: 50px;
}

/* Slick Slider
=================================== */
.slick-slider {
	overflow: hidden;
	margin-bottom: 50px;
	position: relative;

	&.feature-slider {
		max-height: 550px;
	}

	&.slider-fullwidth {
		.slick-slide {
			width: 1050px;
			max-width: 100%;
			margin: 0 15px;
			-webkit-transition: opacity 0.4s ease;
			transition: opacity 0.4s ease;

			.slide-content {
				display: none;
			}

			&:not(.slick-current) {
				opacity: 0.5;
			}
		}
	}

	.entry & {
		margin-bottom: 0;
	}

	button {
		position: absolute;		
		z-index: 1000;
		display: block;
	    height: 50px;
	    width: 50px;
	    line-height: 0px;
	    font-size: 0px;
	    cursor: pointer;
	    background: transparent;
	    color: transparent;    
	    margin-top: -20px;
	    padding: 0;
	    border: solid 2px #fff;
	    border-radius: 0;
	    outline: none;
	    font-family: 'FontAwesome';

    &:hover, &:focus {
			background: rgba(0,0,0,0.5);
		}

		&.slick-prev {
			bottom: 30px;
			right: 80px;
			border-right: solid 1px #fff;
			
			&:before {				
				content: "\f053";
				font-size: 11px;
				position: absolute;
				color: #fff;
				top: 24px;
				left: 19px;
			}

		}

		&.slick-next {
			bottom: 30px;
			right: 30px;
			border-left-width: 0;

			&:before {				
				content: "\f054";
				font-size: 11px;
				position: absolute;
				color: #fff;
				top: 24px;
				left: 20px;
			}
		}
	}
}

.slick-slider-alt {
	
	button.slick-prev {
		bottom: auto;
		top: 50%;
		left: 30px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0;
		border-right-width: 2px;
	}
	
	button.slick-next {
		bottom: auto;
		top: 50%;
		right: 30px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0;
		border-left-width: 2px;
	}

}

.slide {	
	position: relative;
	outline: 0;

	.slide-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%);
	}

	.slide-overlay-alt {
		background: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: auto;
		height:auto;
		padding: 50px;
		
		.slide-content {
			position: static;
			text-align: center;
			
			.slide-title a, .slide-date {
				color: #333;
			}
			
			h2 {
				max-width: 100%;
			}
		}
	}

	.slide-content {
		position: absolute;
		bottom: 30px;
		left: 30px;

		.slide-title {
			max-width: 60%;
			margin: 0;

			a {
				color: #fff;
			}
		}

		.slide-categories {
			display: inline-block;
			margin-bottom: 15px;
		}

		.slide-date { 
			font-size: 11px;
			color: #fff;
		}

	}

}

/* Section titles
=================================== */
#site-section {
	text-align: center;
	margin-bottom: 50px;

	h2 {
		border-top: solid 2px #ebebeb;
		border-bottom: solid 1px #ebebeb;
		font-size: 16px;
		letter-spacing: 3px;
		padding: 16px 0;
		margin: 0;
	}
	
	p {
		font-size: 11px;
		letter-spacing: 3px;
	}
}

/* Social Icons
=================================== */
.socials {	
	list-style: none;
	margin: 0;
	padding: 0;	
	float: right;

	li {
		float: left;

		a {
			display: block;
			font-size: 13px;
			padding: 2px 5px;
			margin-left: 15px;
		}
	}
	
	.site-socials & {
		float: none;
		opacity: 0.3;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
   
		
		&:hover {
			opacity: 1;
		}
				
		li {
			float: none;
			
			a {
				margin: 0;
				text-align: center;
				padding: 5px 10px;
				font-size: 16px;
			}
		}
	}
}

.site-socials {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 10px;
	z-index: 10;
}


/* Site tools
=================================== */
.site-tools {
	float: right;
	width: 50%;

	form {
		width: 300px;
		float: right;
	}

	input[type="search"] {
		border: none;
		background: rgba(255,255,255,0.2);
		border-radius: 50px;
		height: 25px;
		text-transform: uppercase;
		color: #fff;
		font-size: 11px;
	}

	@include placeholder {
		color: rgba(255,255,255, 0.5);
		font-weight: normal;
		opacity: 1;
	}
}

.search-box {
	margin: 0 0 30px;
}

/* Entry Styles
=================================== */
.entry {
	margin: 0 0 50px;
	position: relative;	

	figure {
		margin-bottom: 20px;
		position: relative;
	}

	.fluid-width-video-wrapper{
		margin-bottom: 20px;
	}
}

.entry-thumb {
	&.alignnone,
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-top: 0;
	}
}

.entry-title {
	position: relative;
	text-align: center;
	padding: 0 50px;
	margin-bottom: 35px;

	&:after {
		content: '';
		position:absolute;
		bottom: -15px;
		left: 50%;
		-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);						
		width: 30px;
		height: 2px;
		background: #111;
	}
}

.entry-meta {
	text-align: center;
	margin-bottom: 15px;
}

.entry-categories,
.slide-categories {
	display: inline-block;

	a {
		display: inline-block;
		background: #111;
		color: #fff;
		letter-spacing: 2px;
		font-size: 10px;
		padding: 2px 8px;
		margin-right: 10px;

		&:hover {
			color: #fff;
		}
	}
}

.entry-category {
	display: inline-block;
	background: #111;
	color: #fff;
	letter-spacing: 2px;
	font-size: 10px;	
	padding: 2px 8px; 
	margin-right: 10px;

	&:hover {
		color: #fff;
	}
}

.entry-date {
	font-size: 11px;
}

.entry-featured {
	margin-bottom: 25px;
	position:relative; 

	iframe {margin-bottom: 0;}
}

/* Hide large image on first (featured) article */
.blog article:first-child .entry-featured {
	display: none;
}

.category article:first-child .entry-featured {
	display: none;
}

.figure-buttons {
	position: relative;
}

.entry-featured-actions {
	transition: all 0.18s ease;
	opacity: 0.5;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 100;
	bottom: 30px;
	right: 30px;	
	display: inline-block;
	border: solid 2px #fff;

	.gallery-item & {
		bottom: 5px;
		right: 10px;
	}

	li {
		float: left;

		&.action-pin {
			border-right: solid 1px #fff;
			background:#BB1928;
			
			a:before {
				content: "\f0d2";
			}
		}	

		&.action-buy {
			background:#111;
			
			a:before {
				content: "\f07a";
			}			
		}	

		a {
			display: block;
			padding: 8px;
			color: #fff;
			font-size: 10px;
			font-weight: bold;
			letter-spacing: 2px;
			text-transform: uppercase;
			border-bottom: none;

			&:before {
				font-family: FontAwesome;				
				margin: 0 3px 0 0;
				position: relative;
				top: 0;
				font-size: 11px;
			}

			.gallery-item & {
				padding: 4px;
			}		
		}
	}

	&:hover {
		opacity: 1;
	}

	&:last-child {
		border-right: solid 2px #fff;
	}
	
}

.entry-content {
	@include clearfix;

	.opening {
		font-family: $secondary-font;
	}

	a {
		border-bottom: solid 2px #111;
	}

	.entry-counter-list {
		list-style: none;
		margin: 20px 0 25px 0;
		padding: 0;
		counter-reset: product-list;

		li {
			position: relative;			
			margin: 0 0 15px 45px;

			&:before {
				position: absolute;
				top: -5px;
				left: -45px;
				font-family: $secondary-font;
				font-size: 11px;
				border: solid 1px #ebebeb;			
				display: inline-block;
				padding: 7px 5px 5px 5px; 				
				text-align: center;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				content: counter(product-list);
				counter-increment: product-list;
			}
		}
		
	}

	iframe[src*='w.soundcloud.com/'] {
		max-height: 220px;
	}
	
	.dropcap {
		float: left;
		font-size: 4.26em;
		font-weight: bold;
		line-height: 1;
		margin: 0 0.23em 0 0;
	}
}


/* Entry Utils */
.entry-utils {
	.read-more {
		float: right;
		position: relative;
		top: 2px;
		display: inline-block;
		padding: 10px 15px 9px;
		background: #fff;
		border: solid 1px #ebebeb;
		font-family: $secondary-font;
		font-size: 11px;
		z-index: 3;

		&:hover {
			background: #ebebeb;
		}
	}

	.socials {
		position: relative;		
		border: solid 1px #ebebeb;
		background: #fff;		
		z-index: 4;		
		padding: 3px 3px 2px 7px;
		margin-top: 2px;
		float: left;
		
		a {
			padding: 5px;
			margin: 0 5px 0 0;
		}

	}

	&:before {
		content: '';
		position: relative;
		top: 21px;
		left: 0;		
		width: 100%;
		height: 1px;
		background: #ebebeb;
		z-index: 2;
	}
}

.single {
	.entry-utils {
		text-align: center;
		margin-bottom: 40px;

		.socials {
			float: none;
			display: inline-block;
		}
	}
}

.link-pages {
	font-weight: bold;

	a {
		display: inline-block;
		margin: 0 3px;
		text-decoration: none;
		border: 0;
		opacity: 0.75;
	}
}


/* Entry List */
.entry-list {
	position:relative;
	@include clearfix();
	
	.entry-title {
		text-align: left;		
		padding: 0;
		font-size: 23px;

		&:after {
			content: '';
			position:absolute;
			bottom: -15px;
			left: 15px;
		}
	}

	.entry-featured {
		float: left;
		width: 250px;
		margin-right: 30px;
	}

	.entry-content-wrap {
		overflow: hidden;
	}

	.entry-meta {
		text-align: left;		

		p {
			margin-bottom: 0;
		}
	}
}


/* Entry Grid */
.entry-grid {
	.entry-title {
		font-size: 19px;
		padding: 0;		
	}

	.entry-meta {
		margin-bottom: 0;
	}
}


/* Entry Author */
.entry-author {
	margin-bottom: 50px;
	text-align: center;

	.author-avatar {
		margin-bottom: 20px; 
		img {
			border: solid 1px #ebebeb;
			padding: 5px;
			border-radius: 90px;
			display: inline-block;
		}
	}

	.socials {
		float: none;
		display: inline-block;

		a {
			font-size: 18px;
			margin: 0 7px;
			padding: 0;
		}
	}
}


/* Related Posts */
.entry-related {
	margin-bottom: 40px;
	
	.entry {
		margin-bottom: 0;
	}

	.entry-title, .entry-meta {
		text-align: left;
		padding: 0;
	}

	.entry-title {
		font-size: 15px;
		margin: 0;

		&:after {
			content: '';
			position:absolute;
			top: auto;
			left: auto;			
			width: auto;
			height: auto;
			background: transparent;
		}
	}

	.entry-meta {
		margin-bottom: 10px;
	}

	.entry-featured {
		margin-bottom: 15px;
	}
}


/* Entry Tag */
.entry-tags {
	margin-bottom: 30px; 
	a {
		display: inline-block;
		background: #ebebeb;
		color: #444;
		font-size: 10px;
		letter-spacing: 2px;
		padding: 2px 5px;
		margin-right: 3px;

		&:before {
			font-family: FontAwesome;
			content: "\f005";
			margin: 2px;
			position: relative;			
			font-size: 9px;
			top: -1px;
		}
	}
}


/* Entry Signature */
.entry-sig {
	font-size: 10px;
	letter-spacing: 3px;
	color: #7e7e7e;

	img{
		display: block;
		margin-top: 10px;
	}

	span {
		display: block;
		margin-top: 5px;
		font-size: 14px;
		letter-spacing: 0;
	}
}


/* Entry Look templates */
.entry-look {
	position: relative;
	margin-bottom: 30px;

	.entry-overlay {		
		position: absolute;		
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.33) 99%, rgba(0,0,0,0.33) 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(65%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.33)), color-stop(100%,rgba(0,0,0,0.33)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%); 
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%); 
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.33) 99%,rgba(0,0,0,0.33) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 ); 
	}

	.entry-wrap {	
		position:absolute; 
		bottom: 30px;
		left: 30px;
		
		.entry-title, .entry-meta {
			text-align: left;
			margin: 0;
			color: #fff;
		}

		.entry-title {
			padding: 0 30px 0 0;
			margin: 0;
			font-size: 15px;

			&:after {
				background: transparent;
			}
		}
	}
}

/* Pagination
=================================== */
#paging {
	font-family: $secondary-font;
	font-size: 11px;
	margin: 0 0 50px 0;
	border: solid 2px #ebebeb;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;


		li {
			display: inline-block;
		}
	}

	a.paging-older:only-child,
	a,
	> span,
	li span {
		border-right: solid 1px #ebebeb;
		display: inline-block;
		text-transform: uppercase;
		font-size: 11px;		
		font-weight: bold;
		padding: 16px 20px;		
		line-height: normal;		
	}

	a.paging-newer:only-child {
		border-left: solid 1px #ebebeb;
	}

	a:hover {
		background: #ebebeb;		
	}

	.current {
		background: #ebebeb;		
	}
		
	.paging-standard {
		text-align: center;
		width: 50%;
		text-align: center;		
	}

	.paging-older {
		float: left;
		width: 50%;
	}

	.paging-newer {
		float: right;
		border-right: 0;
	}

	.page-numbers {
		float: left;
	}
}